# Server Port
PORT=5002

# MongoDB Atlas or Local MongoDB Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/INTERNSHIP_TASK3?retryWrites=true&w=majority
# If left empty or omitted, defaults to local MongoDB: mongodb://127.0.0.1:27017/INTERNSHIP_TASK3
MONGODB_URI=mongodb://127.0.0.1:27017/INTERNSHIP_TASK3

# JWT Authentication Secret Key
JWT_SECRET=your_super_secret_jwt_key_here
